<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new posts</title>
</head>
<body>
    <h1>create post </h1>
    <form action="http://127.0.0.1:3000/api/posts" method="post">
        <input type="text" placeholder="username" name="username" required> <br><br>
        <input type="text" placeholder="content" name="content" required> <br><br>
        <button>post now</button>
    </form>
    
</body>
</html>